html, body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

@-ms-viewport {
  width: device-width;
}


html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

* {
  box-sizing: inherit;
  &::before, &::after {
    box-sizing: inherit;
  }
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.site-header {
  font-size: 1.4rem;
  height: 60px;
  border-bottom: 1px solid #d9d9d9;
  background: #fee500;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .site-title {
    margin: 0;
  }
  .site-search-items {
    display: flex;
    width: 90%;
    .form-input {
      width: 100%;
      padding: 5px 60px 5px 15px;
      color: #333;
      border: 1px solid #ccc;
      border-radius: 3px 0 0 3px;
      background-color: #fff;
    }
    .form-submit-search {
      display: flex;
      width: 46px;
      margin: 0;
      padding: 0;
      cursor: pointer;
      border: 1px solid #ccc;
      border-left: none;
      border-radius: 0 3px 3px 0;
      background-color: #fff;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f1f1f1));
      background-image: -webkit-linear-gradient(#fff, #f1f1f1);
      background-image: linear-gradient(#fff, #f1f1f1);
      justify-content: center;
    }
  }
}

.site-breadcrumb {
  .breadcrumb-list {
    display: flex;
    margin: 2rem 0;
    padding: 0;
    list-style: none;
    color: #999;
  }
  .item + .item:before {
    display: inline-block;
    margin: 0 5px;
    content: ' / ';
  }
  .link {
    font-size: 1.4rem;
    color: #999;
  }
}

.site-list-items .list-items {
  display: flex;
  flex-direction: column;
  margin: 0 0 2rem;
  padding: 0 2rem;
  list-style: none;
  background-color: #fff;
  .item {
    margin-bottom: 2rem;
    padding-top: 2rem;
    + .item {
      border-top: 1px solid #ccc;
    }
    .link {
      display: flex;
      text-decoration: none;
      justify-content: space-between;
      .main-info {
        display: flex;
        width: 80%;
        .info {
          line-height: 1.2;
          padding-left: 2rem;
          color: #333;
          .item-price {
            font-size: 2rem;
          }
          .item-title {
            font-size: 2.4rem;
          }
        }
      }
      .item-conditions {
        font-size: 1.4rem;
        color: #666;
      }
    }
  }
}

.product-detail {
  .inner {
    margin: 0 0 2rem;
    padding: 2rem;
    background-color: #fff;
  }
  .product-headline {
    display: flex;
    justify-content: space-between;
    .price-info {
      width: 30%;
      .product-conditions {
        font-size: 1.4rem;
        color: #666;
      }
      .product-title {
        font-size: 2.6rem;
        line-height: 1.2;
        color: #333;
      }
      .product-price {
        font-size: 4.4rem;
        display: flex;
        margin: 2rem 0 4rem;
        color: #333;
        .main-value {
          line-height: 1;
        }
        .cents {
          font-size: 1.6rem;
        }
      }
      .action-button {
        font-size: 2rem;
        display: block;
        width: 100%;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: #fff;
        border-radius: 3px;
        background-color: #3483fa;
      }
    }
  }
  .more-info {
    width: 70%;
    .product-title {
      font-size: 2.4rem;
      margin-bottom: 2rem;
      color: #333;
    }
    .product-description {
      font-size: 1.6rem;
      color: #999;
    }
  }
}